/**
 * Footer.
 */
.wrapper_footer {
  background-color: $blue100;
  padding: 4rem 0;
  position: relative;
  margin-top: 110px;
  text-align: center;
  background-image: url('/img/bg-footer-1.png');
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: 0 20px;
  @media (min-width: $screen_sm) {
    margin-top: 140px;
    background-size: 260px;
    padding: 3rem 0 4rem;
  }

  &::before {
    content: '';
    background-image: url('/img/bg-wave.svg');
    width: 100%;
    height: 90px;
    display: block;
    background-size: 270%;
    background-position: left top;
    background-repeat: no-repeat;
    position: absolute;
    top: -90px;
    @media (min-width: $screen_sm) {
      background-size: 200%;
      height: 120px;
      top: -120px;
    }
    @media (min-width: $screen_lg) {
      background-size: 100%;
    }
  }
  &::after {
    content: '';
    background-image: url('/img/bg-footer-2.png');
    width: 120px;
    height: 147px;
    display: block;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 123px;
    right: 0;
    @media (min-width: $screen_lg) {
      width: 163px;
      height: 200px;
      top: 37px;
    }
  }
  .title {
    @media (min-width: $screen_lg) {
      width: 600px;
      margin: 0 auto;
    }
  }
  .description {
    color: $gray200;
    margin-top: 3rem;
    @media (min-width: $screen_lg) {
      width: 500px;
      margin: 2rem auto;
    }
  }
  .container {
    position: relative;
    z-index: 1;
  }
}
.newsletter_form {
  max-width: 400px;
  margin: 0 auto;
  @media (min-width: $screen_lg) {
    max-width: inherit;
  }
  form {
    @media (min-width: $screen_lg) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__group {
    &__field {
      width: 400px;
    }
    &__button {
      width: 220px;
      @media (min-width: $screen_lg) {
        width: 130px;
      }
    }
  }
  &__messages {
    margin-top: 1rem;
    height: 24px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    &.active {
      opacity: 1;
    }
  }
}
