/**
 * Header.
 */
.top_bar {
  background-color: $red100;
  font-family: $font-button;
  padding: 5px;
  text-align: center;
  font-size: 0.8rem;
}
.wrapper_header {
  margin: 2em 0 0;
}
.title {
  position: relative;
  z-index: 1;
  font-size: 1.9rem;
  line-height: 2.4rem;
  @media (min-width: $screen_lg) {
    font-size: 2.4rem;
    line-height: 3.3rem;
  }
  &.bg-blue {
    &::before {
      content: '';
      background-color: $blue200;
      width: 77px;
      height: 24px;
      border-radius: 15px;
      position: absolute;
      left: -4px;
      top: 26%;
      z-index: -1;
      @media (min-width: $screen_lg) {
        width: 59px;
        height: 21px;
        left: -22px;
        top: 28%;
      }
    }
  }
}
