/**
 * Slider products.
 */
.slider_products {
  &--controls {
    &__container {
      display: flex;
      margin: 1em 0 0;
      @media (min-width: $screen_lg) {
        margin: 0 0 1em;
      }
    }
    &__left,
    &__right {
      align-items: center;
      background-color: $white;
      border-radius: 50%;
      box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      display: flex;
      height: 40px;
      justify-content: center;
      margin: 0 20px;
      position: relative;
      width: 40px;
      &::before {
        background-color: $red100;
        border-radius: 15px;
        content: '';
        height: 24px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 77px;
        z-index: -1;
      }
      img {
        position: relative;
        z-index: 3;
      }
    }
  }
  &__container {
    margin: 2rem 0;
  }
  &__item {
    margin-right: 15px;
    width: 320px;
    &__image {
      position: relative;
      &__dto {
        background-color: $yellow300;
        border-radius: 20px;
        font-family: $font-button;
        padding: 5px 15px;
        position: absolute;
        right: 15px;
        top: 15px;
      }
      &__link {
        bottom: 15px;
        left: 0;
        position: absolute;
        right: 0;
        width: 80%;
      }
    }
    &__details {
      &__name {
        font-family: $font-content;
        font-size: 1.5rem;
        margin-top: 10px;
      }
      &__reviews {
        align-items: center;
        display: flex;
        &__stars {
          background-image: url('/img/star-icon.svg');
          display: block;
          height: 17px;
          margin-right: 5px;
          &.one {
            width: 17px;
          }
          &.two {
            width: 34px;
          }
          &.three {
            width: 51px;
          }
          &.four {
            width: 68px;
          }
          &.five {
            width: 85px;
          }
        }
        &__value {
          color: $gray200;
        }
      }
      &__price {
        align-items: center;
        display: flex;
        margin-top: 10px;
        &__value {
          font-family: $font-button;
          &--strikethrough {
            color: $gray200;
            font-family: $font-button;
            margin-right: 8px;
            text-decoration: line-through;
          }
        }
      }
    }
  }
  .container {
    @media (min-width: $screen_lg) {
      max-width: 100%;
      padding: 0;
    }
  }
}
.browse_all_products {
  &__link {
    width: 260px;
    margin: 1em auto;
    @media (min-width: $screen_lg) {
      margin: 4em auto;
    }
  }
}
