/**
 * Fonts.
 */
@font-face {
  font-family: 'Neogrotesk Ess Bold';
  src: url('/fonts/NeogroteskEss-Bold.eot');
  src: url('/fonts/NeogroteskEss-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/NeogroteskEss-Bold.woff2') format('woff2'),
    url('/fonts/NeogroteskEss-Bold.woff') format('woff'),
    url('/fonts/NeogroteskEss-Bold.ttf') format('truetype'),
    url('/fonts/NeogroteskEss-Bold.svg#NeogroteskEss-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FilsonPro Regular';
  src: url('/fonts/FilsonPro-Regular.eot');
  src: url('/fonts/FilsonPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/FilsonPro-Regular.woff2') format('woff2'),
    url('/fonts/FilsonPro-Regular.woff') format('woff'),
    url('/fonts/FilsonPro-Regular.ttf') format('truetype'),
    url('/fonts/FilsonPro-Regular.svg#FilsonPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AbhayaLibre Bold';
  src: url('/fonts/AbhayaLibre-Bold.eot');
  src: url('/fonts/AbhayaLibre-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AbhayaLibre-Bold.woff2') format('woff2'),
    url('/fonts/AbhayaLibre-Bold.woff') format('woff'),
    url('/fonts/AbhayaLibre-Bold.ttf') format('truetype'),
    url('/fonts/AbhayaLibre-Bold.svg#AbhayaLibre-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
