/**
 * Forms.
 */
.group_field {
  margin: 1rem 0 0;
  @media (min-width: $screen_lg) {
    margin: 0 5px 0 0;
  }
}
.field {
  padding: 12px 20px;
  border: 1px solid $red200;
  border-radius: 30px;
  color: $gray200;
  width: 100%;
  outline: none;
}
.link {
  background-color: $red200;
  border-radius: 30px;
  color: $white;
  font-family: $font-button;
  margin: 0 auto;
  padding: 13px 20px;
  text-align: center;
  border: 0;
  &.white {
    background-color: $white;
    color: $red200;
  }
}
.group-button {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  @media (min-width: $screen_lg) {
    display: block;
    justify-content: inherit;
    margin-top: 0;
  }
}
