/**
 * Mixins.
 */

/*Screen sizes. */
$screen_sm: '576px';
$screen_md: '768px';
$screen_lg: '992px';
$screen_xl: '1200px';
$screen_xxl: '1400px';

@media (min-width: $screen_sm) {
}

@media (min-width: $screen_md) {
}

@media (min-width: $screen_lg) {
}

@media (min-width: $screen_xl) {
}

@media (min-width: $screen_xxl) {
}
