/**
 * Colors.
 */
$white: #ffffff;
$black: #444950;
$gray200: #939393;
$yellow300: #ffc658;
$red200: #efa693;
$red100: #ffdcd3;
$blue200: #caf0ff;
$blue100: #d1f1ff;

/**
 * Fonts.
 */
$font-heading: 'AbhayaLibre Bold';
$font-content: 'FilsonPro Regular';
$font-button: 'Neogrotesk Ess Bold';
